/* ----------------------------------- BERANDA --------------------------------------- */
.beranda-mulai-sekarang {
    background-color: orange;
    border: none;
    font-size: 24px;
}
.beranda-header-text h1{
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.beranda-header-no-img {
    padding: 40px 86px 0;
}
.beranda-header-img img{
    width:100%;
}
.beranda-header-bg{
    background-image:url('https://id.content.jobsdbcdn.com/Content/d1129/images/Shared/v8Revamp2/group_a_background.jpg');
    background-size: 75%;
}
.beranda-judul-form h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.form-bg{
    background-color:#216F93;
    margin-bottom:24px;
}
.beranda-cari input{
    background-color: orange;
    border: none;
}

.beranda-isi-bg {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
.beranda-isi-header-bg{
    background-color: #EDEDF2;
    border: none;
    border-radius: 8px;
}
.beranda-article-bg{
    background-color:#6198B6;
}
.beranda-artikel-secondary{
    color:white;
}
.beranda-artikel-secondary a{
    color:white;
}
.beranda-kanan-bg{
    background-color:#EDEDF2;
    border: none;
    border-radius: 8px;
}
.beranda-daftar-lowongan-list{
    background-color:#0F2C55;
    border:none;
    border-radius:10px;
}
.beranda-daftar-lowongan-list ul{
    padding:10px;
    margin-left:20px;
}
.beranda-daftar-lowongan-list li{
    color: white;
    padding: 10px 0px;
}