/* --------------------------HEADER & FOOTER -------------------------------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    width: 180px;
}
.header-nav-atas{
    display: table;
    margin-left: auto;
    display: inline block;
    vertical-align: middle;
}
.header-nav-atas .btn{
    font-weight: bold;
}
.btn-abu{
    color:#298eb9;
    border-color:#E7E7E7;
    background-color: #E7E7E7;
}
.btn-abu:hover{
    color: #298eb9;
    background-color: #ccc;
    border-color: #ccc;
}
.btn-biru{
    color:#fff;
    border-color:#298eb9;
    background-color:#298eb9;
}
.header-bg-bawah{
    background-color: #062e56;
    height: 55px;
    box-shadow: inset 0 1px 0
     rgba(255,255,255,0.15),0 1px 5px
     rgba(0,0,0,0.075);
    font-weight: 700;
}
.header-nav-bawah{
    margin: 0 auto;
    padding: 10px auto;
    height: 55px;
}
.header-nav-bawah a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.header-nav-bawah a:hover{
    color: #59cbfb;
}
a {
    transition: all 0.5s ease;
}
header{
    /* border-bottom: 1px solid #ececec; */
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* box shadow */
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
    z-index: 10;
}
.active{
    color:#59cbfb;
}
.white-space{
    padding: 64px;
}
.footer-blue{
    padding-top: 50px;
    background-color: #062e56;
}
.footer-text{
    color: white;
    font-size: 12px;
}
.footer-text span{
    font-size: 14px;
    color: #59cbfb;
    font-weight: bold;
}
.footer-black{
    background-color: black;
}
.footer-black p{
    font-size: 12px;
    color: #999;
    margin: 10px 0;
}
.footer-text-kanan p{
    display: table;
    margin-left: auto;
}
.footer-text a{
    color: white;
}
/* ----------------------------------- BERANDA --------------------------------------- */
.beranda-mulai-sekarang {
    background-color: orange;
    border: none;
    font-size: 24px;
}
.beranda-header-text h1{
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.beranda-header-no-img {
    padding: 40px 86px 0;
}
.beranda-header-img img{
    width:100%;
}
.beranda-header-bg{
    background-image:url('https://id.content.jobsdbcdn.com/Content/d1129/images/Shared/v8Revamp2/group_a_background.jpg');
    background-size: 75%;
}
.beranda-judul-form h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.beranda-judul-form{
    padding-top: 10px;
    display: table;
}
.beranda-form-bg{
    margin-bottom: 24px;
}
.form-bg{
    background-color:#216F93;
    margin-bottom:0px;
}
.beranda-cari input{
    background-color: orange;
    border: none;
}

.beranda-isi-bg {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
.beranda-isi-header-bg{
    background-color: #EDEDF2;
    border: none;
    border-radius: 8px;
    margin-left: 0px;
    margin-right:0px;
}
.beranda-article-bg{
    background-color:#6198B6;
}
.beranda-artikel-secondary{
    color:white;
}
.beranda-artikel-secondary a{
    color:white;
}
.beranda-kanan-bg{
    background-color:#EDEDF2;
    border: none;
    border-radius: 8px;
}
.beranda-daftar-lowongan-list{
    background-color:#0F2C55;
    border:none;
    border-radius:10px;
}
.beranda-daftar-lowongan-list ul{
    padding:10px;
    margin-left:20px;
}
.beranda-daftar-lowongan-list li{
    color: white;
    padding: 10px 0px;
}
.beranda-article-img{
    height: 141px;
    width: 212px;
}
/* ----------------------------------- SEARCH --------------------------------------- */
.search-konten{
    /* border-right: #999 1px solid;
    border-left: #999 1px solid; */
    border-bottom: #ccc 1px solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
    background-color: white;
    padding: 20px 0;
    border-radius: 10px;
}
.search-tgl-publikasi{
    display: table;
    margin-left: auto;
    margin-bottom: auto;
    color: #999;
}
.search-bg{
    background-color: #ebebf1;
}
.search-konten p{
    font-size: 14px;
}
.search-jabatan span{
    font-weight: bold;
    font-size: 25px;
}
.search-gaji{
    color: darkgreen;
}
.search-jabatan span a{
    text-decoration: none;
    color: #171717;;
}
.beranda-form-bar{
    display: table;
    margin: 0;
    padding: 0 83px;
    background-color: #ebebf1;
}
.search-white-space{
    padding: 20px;
}
.search-pict img{
    width: 150px;
}
.search-hsl{
    font-size: 18px;
    margin-bottom: 0px;
}

/* ------------------------------- dETAIL LOWONGAN -------------------------------- */



.lowongan-pict img{
    display: table;
    margin: 0 auto;
}
.lowongan-jabatan{
    display: table;
    margin: 0 auto;
}
.lowongan-deskripsi{
    display: table;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

/* -------------------------------------------------- EVENT ------------------------------------ */
.event-isi{
    background:url('https://id.jobsdb.com/id-id/wp-content/uploads/sites/2/static/event/coming-soon-kerja-luar-negeri.gif');
    height: 235px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.event-pengumuman h1{
    padding-top: 85px;
    font-weight: bold;
    font-size: 48px;
}

/* ------------------------------------- ARTIKEL ----------------------------------- */
.artikel-foto img{
    width:100%;
}
.artikel-judul{
    border-bottom:solid #EBEBF1 1px;
}
.body-article{
    background-color:#EBEBF1;
}
.artikel-post{
    box-shadow:0 1px 3px rgba(0,0,0,.1);
    border-radius: 10px;
    background-color:white;
    margin:40px 0;
}
.artikel-lainnya{
    box-shadow:0 1px 3px rgba(0,0,0,.1);
    border-radius: 10px;
    background-color:white;
    margin:40px 0;
}
.artikel-judul-lainnya{
    border-bottom:solid #EBEBF1 1px;
    border-top:solid #EBEBF1 1px;
}
.artikel-judul-lainnya h3{
    font-family:arial;
}
.artikel-list{
    border-bottom:solid #EBEBF1 1px;
    border-top:solid #EBEBF1 1px;
}
.circle-border img{
    display: flex;
    width:75%;
}