body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    width: 180px;
}
.header-nav-atas{
    display: table;
    margin-left: auto;
    display: inline block;
    vertical-align: middle;
}
.header-nav-atas .btn{
    font-weight: bold;
}
.btn-abu{
    color:#298eb9;
    border-color:#E7E7E7;
    background-color: #E7E7E7;
}
.btn-abu:hover{
    color: #298eb9;
    background-color: #ccc;
    border-color: #ccc;
}
.btn-biru{
    color:#fff;
    border-color:#298eb9;
    background-color:#298eb9;
}
.header-bg-bawah{
    background-color: #062e56;
    height: 55px;
    box-shadow: inset 0 1px 0
     rgba(255,255,255,0.15),0 1px 5px
     rgba(0,0,0,0.075);
    font-weight: 700;
}
.header-nav-bawah{
    margin: 0 auto;
    padding: 10px auto;
    height: 55px;
}
.header-nav-bawah a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.header-nav-bawah a:hover{
    color: #59cbfb;
}
a {
    transition: all 0.5s ease;
}
header{
    border-bottom: 1px solid #ececec;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* box shadow */
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
    z-index: 10;
}
.white-space{
    padding: 64px;
}
.footer-blue{
    padding-top: 50px;
    background-color: #062e56;
}
.footer-text{
    color: white;
    font-size: 14px;
}
.footer-text span{
    color: #59cbfb;
    font-weight: bold;
}
.footer-black{
    background-color: black;
}
.footer-black p{
    font-size: 12px;
    color: #999;
    margin: 10px 0;
}
.footer-text-kanan p{
    display: table;
    margin-left: auto;
}
.footer-text a{
    color: white;
}
/* ----------------------------------- BERANDA --------------------------------------- */
.beranda-mulai-sekarang {
    background-color: orange;
    border: none;
    font-size: 24px;
}
.beranda-header-text h1{
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.beranda-header-no-img {
    padding: 40px 86px 0;
}
.beranda-header-img img{
    width:100%;
}
.beranda-header-bg{
    background-image:url('https://id.content.jobsdbcdn.com/Content/d1129/images/Shared/v8Revamp2/group_a_background.jpg');
    background-size: 75%;
}
.beranda-judul-form h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.form-bg{
    background-color:#216F93;
    margin-bottom:24px;
}
.beranda-cari input{
    background-color: orange;
    border: none;
}

.beranda-isi-bg {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
.beranda-isi-header-bg{
    background-color: #EDEDF2;
    border: none;
    border-radius: 8px;
}
.beranda-article-bg{
    background-color:#6198B6;
}
.beranda-artikel-secondary{
    color:white;
}
.beranda-artikel-secondary a{
    color:white;
}
.beranda-kanan-bg{
    background-color:#EDEDF2;
    border: none;
    border-radius: 8px;
}
.beranda-daftar-lowongan-list{
    background-color:#0F2C55;
    border:none;
    border-radius:10px;
}
.beranda-daftar-lowongan-list ul{
    padding:10px;
    margin-left:20px;
}
.beranda-daftar-lowongan-list li{
    color: white;
    padding: 10px 0px;
}